.page
  .page-title
    = @puzzle.icon
    = link_to @puzzle.name, puzzle_path(@puzzle)
  .page-content
    %h2
      You got it
      = @submission.correct ? "right. Nice job!" : "wrong. Give it another try!"

    - if @submission.correct
      - if position = current_user.leaderboard_position
        #leaderboard-notice
          Guess what? You are now #{position.ordinalize} on the
          #{link_to "leaderboard", leaderboard_path}. Way to go!
          .twitter-button
            = render 'twitter_button', position: position

      = form_for @rating,
        url: rate_user_submission_path(current_user, @submission),
        remote: true do |f|
        %h4
          How would you rate this puzzle's difficulty?
        %ul
          - Rating::DIFFICULTIES.each do |rating|
            %li
              = f.label :difficulty, :value => rating do
                = f.radio_button :difficulty, rating
                = rating

        = f.submit "Rate It"
        = link_to "View discussion", puzzle_comments_path(@puzzle),
          class: 'btn'
    - else
      %p
        If you think you have found a defect in one of our puzzles please
        contact us.
      = link_to "Try again", new_puzzle_submission_path(@puzzle),
        class: 'btn'
