- if current_user
  %li.user
    = link_to user_path(current_user.nickname) do
      = gravatar_image current_user, 24, class: "user-gravatar"
      = current_user.name
  %li= link_to "Log out", logout_path
- else
  %li
    = link_to "Play", login_path, class: 'btn'
