- content_for :header_bottom do
  :javascript
    $(function(){
      $('form.new_submission').submit(function(){
        $('#submission_submit').attr('disabled', 'disabled');
      });
    });

.page
  .page-title
    = @puzzle.icon
    = link_to @puzzle.name, puzzle_path(@puzzle)
  .page-content
    %h4
      Check your solution to this puzzle by uploading the output file from
      your program.

    = form_for @submission, :url => puzzle_submissions_path(@puzzle),
      :html => {:multipart => true} do |f|
      = f.file_field :file
      = f.submit "Check solution file"

    %p
      If your answer is correct you will be given access to a discussion thread
      where you can discuss this problem with others who have solved it.
      %br
      If your answer is incorrect you will be notified immediately and may
      try again if you'd like.
