- if current_user.try(:admin)
  - content_for :admin_nav do
    = button_to "New Puzzle", new_admin_puzzle_path, :method => :get

#puzzles
  - @puzzles.each do |puzzle|
    = link_to puzzle_path(puzzle), class: 'card' do
      - if puzzle.answered_correctly? current_user
        .card-top.solved SOLVED
      - else
        .card-top= puzzle.difficulty
      .card-header
        = puzzle.icon
        = puzzle.name
        .completed-by
          Completed by
          = pluralize puzzle.solved_by.count, "player"
      .card-copy
        = puzzle.short_description
